@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@900&family=Poppins:wght@100;400&display=swap');


.preparation-content {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.preparation-content .selected-donut {
    --mobile-screen-width: 428px;
    --donut-width: 250px;
    /*Whith this expression we position the donut in the center of the screen*/
    --donut-position: calc(var(--mobile-screen-width) / 2 - var(--donut-width) / 2);

    width: var(--donut-width);
    position: absolute;
    top: 140px;
    left: var(--donut-position);
}

.preparation-content .sugar-sparkles {
    width: 220px;
    position: absolute;
    top: 120px;
    left: 80px;
    transform: scale(1.6) rotate(200deg);
}

.preparation-content .preparing {
    --mobile-screen-height: 926px;
    --offset: -100px;
    --vertical-position: calc(var(--mobile-screen-height) / 2 - var(--offset));
    position: absolute;
    top: var(--vertical-position);
    left: 100px;
}

.donut {
    filter: drop-shadow(0 1rem 0.4rem rgba(0, 0, 0, 0.3));
}
