@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@900&family=Poppins:wght@100;400&display=swap');

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
    height: 80vh;
    margin-left: auto;
    margin-right: auto;
}

.container .title {
    display: flex;
    flex-direction: column;
    margin: 0 0 90px 0;
}

.pay-button {
    margin: 15px 0;
    width: 276px;
    height: 76px;
    background-color: #FFFFFF;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.footer {
    align-self: flex-end;
    width: 100vw;
    height: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 0 -100px 0;
}

.footer .sky-shaped {
    width: 250px;
    margin: 20px 0 0 -150px;
}

.footer .unicorn-dust {
    width: 250px;
    margin: 220px -100px -100px 0;
}