@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@900&family=Poppins:wght@100;400&display=swap');

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
    height: 80vh;
}

.container .title {
    display: flex;
    flex-direction: column;
    margin: 0 0 90px 0;
}

.pay-button {
    margin: 15px 0;
    width: 276px;
    height: 76px;
    background-color: #FFFFFF;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}